@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://www.intergate-group.com/wp-content/uploads/2017/11/tlo.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

